<h3>Create Desired Quotes</h3>
<hr>
<div class="container">
  <h1>Quotes</h1><hr>
  <div class="row">
    <div class="col-md-6">
      <h2>Create Quote</h2>
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  <div class="col-md-6">
    <h2 id="quotes">Created Quotes</h2>
    <div class="qts" *ngFor='let quote of quotes;let i=index'>

      <div class="">
        <h4 id="{{i}}" appHighlight>{{quote.ttl}}, written on {{quote.timerDate|date|uppercase}}</h4>
        <button  class="btn btn-primary" (click)='toogleDetails(i)' id="dt">Toogle Details</button>
      </div>
      <div class="row" *ngIf="quote.showDetails">
        <app-quote-details [quote]='quote' (isDelete)='deleteQuote($event,i)'></app-quote-details>
      </div>
    </div>
  </div>
  </div>
</div>
<hr>
<h6 *ngIf='quotes.length > 5'>You have too many quotes</h6>
<span><p *ngFor='let quote of quotes;let i=index'>{{quote.ttl}}, {{quote.upvotes}} upvotes</p><p *ngIf='highlight'></p><span>
<div class="up">
  <!-- {{[{{quote.upvotes,}}]}} -->
</div>
