<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">
        <label for="ttl">Author</label>
        <input type="text" class="form-control" id="ttl" [(ngModel)]="newQuote.ttl" name="ttl" #name="ngModel" required>

        <div [hidden]="ttl.valid||ttl.pristine" class="alert alert-danger">
          <p>The Author is Required</p>
        </div>
      </div>

      <div class="form-group">
        <label for="details">Quote</label>
        <textarea class="form-control" id="details" rows="3" required></textarea>

        <div [hidden]="details.valid||details.pristine" class="alert alert-danger">
          <p>Details are Required</p>
        </div>
      </div>

      <div class="form-group">
        <label for="writer">Writer</label>
        <input type="text" class="form-control" id="writer" [(ngModel)]="newQuote.write" name="write" #name="ngModel" required>

        <div [hidden]="writer.valid||writer.pristine" class="alert alert-danger">
          <p>Your Name is Required</p>
        </div>
      </div>

      <div class="form-group">
        <label for="deleteIt"></label>
        <input type="text" id="deleteIt" [(ngModel)]="newQuote.deleteDate" name="deleteDate" #deleteDate="ngModel" required>

        <div [hidden]="deleteDate.valid||deleteDate.pristine" class="alert alert-danger">
          <p>The Delete Date id Required</p>
        </div>
      </div>
      <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>
